.header-wrapper {
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    h2 {
      color: #335397;
    }
    .dropdown {
      text-align: right;
      .dropdown-btn {
        color: inherit;
        font-weight: 600;
      }
      .drop-down-option { 
        position: absolute;
        right: 5px;
        display: none;
        flex-direction: column;
        gap: 5px;
        align-items: start;
        padding: 1rem ;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
        &.show { 
          display: block;
        }
      }
    }
    p {
      color: black;
      transition: all 0.2s ;
      &:hover{
        color:#335397 ;
      }
    }
    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      color: black;
      font-weight: 600;
      transition: all 0.2s ;

      &:hover {
        color:#335397 ;
      }
    }
  }